<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>Hello Mesos!</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="description" content="">
        <meta name="author" content="">
        <!-- Latest compiled and minified CSS -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">

        <!-- Optional theme -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap-theme.min.css">
        <script src="https://code.jquery.com/jquery-2.1.4.js"></script>
        <!-- Latest compiled and minified JavaScript -->
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
    </head>
    <body>
        <nav class="navbar navbar-default">
            <div class="container-fluid">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="/">Hello-Mesos</a>
                </div>
            </div>
        </nav>
        <div class="container">
            <div class="row">
                <div class="col-xs-12 col-md-6">
                    <h4>Hello Mesos Configuration</h4>
                    <form class="application-form"  method="post" action="/">
                        <div class="form-group">
                            <label for="tasks-to-run">Tasks to Run:</label>
                            <input name="tasks-to-run"  type="text" class="form-control" placeholder="Running ${tasks-to-run}" />
                        </div>
                        <div class="form-group">
                            <button type="submit" class="btn btn-normal">Submit</button>
                        </div>
                    </form>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12 col-md-6">
                    <h4>Running Tasks</h4>
                    <ul id="running-tasks""></ul>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12 col-md-6">
                    <h4>Staging Tasks</h4>
                    <ul id="staging-tasks""></ul>
                </div>
            </div>
        </div>
    </body>
</html>
